<?xml version="1.0"?>
<!--Only use the left camera-->
<launch>
  <include file="$(find pedestrian_detector)/launch/starteyes.launch">
    <arg name="camera_left" value="true"/>
  </include>
  <node pkg="pedestrian_detector" type="detector" name="detector" cwd="($find pedestrian_detector)/"/>
</launch>
