<launch>
  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 /home/avelino/catkin_ws/src/humanawareness_ros/pedestrian_detector/bags/fourth.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/vizzy/l_camera/image_rect_color"/>
  </node>
</launch>
