<launch>
  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 /home/avelino/catkin_ws/src/pedestrian_detector/detections.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/pedestriandetector/image"/>
  </node>
</launch>
